.button-elongated__logout {
    width: 24px;
    height: 24px;
    fill: #1A1B22;
    margin-left: 10px;
}

@media screen and (max-width: 710px) {
    .button-elongated__logout {
        fill: white;
        margin-left: 0;
    }
}
