@import "-cart/search-result-cart.css";
@import "-items/search-result-items.css";
@import "__title/search-result__title.css";
@import "_article-save/search-result_article-save.css";
@import "-cart/__picture/search-result-cart__picture.css";

.search-result {
    background: #F5F6F7;
    padding: 80px 0;
}

@media screen and (max-width: 1230px) {
    .search-result {
        padding: 37px 0;
    }
}

@media screen and (max-width: 710px) {
    .search-result {
        padding: 32px 0;
    }
}
