.author__image {
    margin-right: 55px;
    width: 464px;
    height: 464px;
    object-position: center;
    object-fit: cover;
    border-radius: 50%;
}

@media screen and (max-width: 1230px) {
    .author__image {
        width: 232px;
        height: 232px;
        margin-right: 32px;
    }
}

@media screen and (max-width: 710px) {
    .author__image {
        width: 272px;
        height: 272px;
        margin: 0 0 25px;
    }
}
