@import "__wrap/circle-preloader__wrap.css";

.circle-preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333;
    overflow: hidden;
    z-index: 1000;
}
