.search-result-cart__catid {
    position: absolute;
    top: 25px;
    left: 25px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    padding: 0 12px;
}

@media screen and (max-width: 1230px) {
    .search-result-cart__catid {
        top: 8px;
        left: 9px;
    }
}

@media screen and (max-width: 710px) {
    .search-result-cart__catid {
        top: 16px;
        left: 16px;
    }
}
