@import "__preview/header-main__preview.css";

.header-main {
    width: 608px;
    margin: 0 auto;
    padding: 80px 0 79px;
}

@media screen and (max-width: 1230px) {
    .header-main {
        width: 448px;
        padding: 38px 0 47px;
    }
}

@media screen and (max-width: 710px) {
    .header-main {
        width: 100%;
        padding: 30px 0 35px;
    }
}
