.header-search__label {
    flex: 1;
}

@media screen and (max-width: 710px) {
    .header-search__label {
        background-color: white;
        width: 100%;
        border-radius: 100px;
        margin-bottom: 14px;
    }
}
