.search-result-cart__name {
    margin: 0 24px 16px;
    text-decoration: none;
    color: #000000;
}

.search-result-cart__name:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@media screen and (max-width: 1230px) {
    .search-result-cart__name {
        margin: 0 13px 10px;
    }
}
